body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRuKs6hGsh6grjTl5axInXLf4ugb026UqEi1TO5ijNSv-tNOSFbqNNqrNU2PyDwkNDQmg&usqp=CAU');
    background-size: 100px 100px;
    background-repeat: no-repeat;
}